/* * * * * * * * * * Contact Styling * * * * * * * * * */
body {
    margin: 0;
	background-color: rgb(112,108,108);
}

.header-container {
    font-family: 'Lora', 'serif';
    font-size: 1.5em;
    background-color: rgba(200, 200, 200, 0.5);
    padding-top: 50px;
    margin-top: 95px;
    position: relative;
    width: 100%; /* set the width of the container to the desired size */
    height: auto;
    text-align: center;
    padding-bottom: 50px;
    color: white;
}

.contact-wrapper {
    display: flex;
    justify-content: space-between;
}

#contact-info {
    padding-left: 12%;
    margin-top: 50px;
    width: 40%;
    background-color: rgba(56, 56, 56, 0.5);
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}


.contact-icon {
    display: flex;
    width: 40px;
}

.contact-link-text {
    font-family: "Open Sans", sans-serif;
}

.contact-link {
    text-decoration: none;
    color: yellowgreen;
    font-weight: bold;
    font-size: 1.15em;
}

#contact-form {
    padding-left: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 40%;
    background-color: rgba(56, 56, 56, 0.5);
}

#contact-form > label {
    font-family: 'Lora', serif;
    font-size: 1.1em;
	margin: auto;
	width: 50%;
    color: yellowgreen;
}

#contact-form > input, #contact-form > textarea {
    font-family: 'Lora', serif;
    font-size: 1.1em;
    padding: 15px;
    border-radius: 0;
    border-width: 1px;
	width: 70%;
}

#contact-form > button {
	margin-bottom: 50px;
    font-family: 'Lora', serif;
	font-size: 1em;
    color: rgba(256, 196, 180);
    color: white;
    background-color: yellowgreen;
	padding: 10px 20px;
    width: 70%;
    transition: background-color 0.5s ease;
}

#contact-form > button:hover {
    color: black;
    background-color: white;
}

.contact-title {
    display: flex;
    font-family: 'Open-sans', serif;
    font-size: 3em;
    color: yellowgreen;
}