/* * * * * * * * * * Project Styling * * * * * * * * * */
.footer {
	background-color: rgba(56,56,56,255);;
	padding-top: 1%;
	display: flex;
    justify-content: center;
	flex-direction: column; /* Add this line */
	align-items: center; /* Optional, to center the logo horizontally */
	bottom: 0;
	width: 100%;
	color: grey;
}

#foot-logo {
	width: 12%;
}