/* * * * * * * * * * Home Styling * * * * * * * * * */

body {
    margin: 0;
	background-color: rgb(112,108,108);
}

.title-text {
    background-color: rgb(112,108,108);
    margin-top: 100px;
    padding-top: 2%;
    color: white;
    font-family: 'Cinzel', serif;
    font-size: 3em;
    text-align: center;
}

.slideshow-hidden {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
  
.slideshow-show {
    opacity: 1;
    transform: translateY(0);
}

#slideshow-container {
    background-color: rgb(112,108,108);
    position: relative;
    width: 100%; /* set the width of the container to the desired size */
    height: 100%;
}
  
.slideshow-image {
    position: absolute;
    width: 100%; /* make the image fill the container horizontally */
    height: 100%; /* make the image fill the container vertically */
    object-fit: contain; /* crop the image if necessary to fit the container */
    opacity: 0;
    transition: opacity 3s;
    padding-bottom: 5%;
}

.slideshow-button-left,
.slideshow-button-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 75px;
    height: 75px;
    font-size: 32px;
    color: white;
    background-color: rgba(0,0,0,0.7);
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideshow-button-left:hover,
.slideshow-button-right:hover {
    background-color: grey;
}

.slideshow-button-left {
    left: 10%;
}

.slideshow-button-right {
    right: 10%;
}

.container {
    margin-right: 150px;
    margin-left: 150px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: auto;
}

.cards-background {
    background-color: rgba(56,56,56,255);
    padding-top: 50px;
    padding-bottom: 50px;
}

.box {
    position: relative;
    width: calc(25% - 20px);
    margin-left: 2%;
    margin-right: 2%;
    height: auto;
    background-color: rgb(94, 144, 77);
    padding-bottom: 20px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.box-show {
    opacity: 1;
    transform: translateY(0);
}

.about {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.about-show {
    opacity: 1;
    transform: translateY(0);
}

.box-image {
    padding-top: 5%;
    display: block;
    margin: auto;
    width: 80px;
    height: 100px;
}

.box:hover {
    transform: scale(1.25);
    background-color: yellowgreen;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.box:hover {
    opacity: 1;
}

.box-content {
    margin-left: 25px;
    margin-right: 25px;
    color: black;
    font-family: 'Lora', serif;
    transition: transform 0.3s ease-in-out;
    text-align: center;
}

.box:hover .box-content {
    transform: scale(1.005);
}

.about-container {
    position: relative;
    width: 100%;
    height: 650px;
    background-color: rgb(112,108,108);    
}

#about-blank {
    position: absolute;
    top: 20%;
    right: 13%;
    width: 60%;
    height: 75%;
    background-color: rgba(185, 187, 181, 0.2);
}

#about-text {
    position: absolute;
    top: 5%;
    left: 15%;
    width: 50%;
    height: auto;
    background-color: rgba(94, 144, 77, 0.7);
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 1em;
}

#about-card {
    position: absolute;
    top: 8%;
    right: 8%;
    background-color: rgba(56,56,56,255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 225px;
    max-height: auto;
    margin-right: 10%;
    text-align: center;
    color: white;
    font-size: 0.6em;
}

.card-title {
    color: grey;
    font-size: 18px;
}

#contact-button button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: yellowgreen;
    text-align: center;
    cursor: pointer;
    width: 80%;
    font-size: 18px;
    font-family: 'Lora', serif;
    transition: background-color 0.5s ease;
}

#contact-button a {
    text-decoration: none;
    font-size: 22px;
}

#contact-button button:hover, #other a:hover {
    background-color: white;
    color: black;
}

/*
 * Screen width guide
 *
 * 992px and smaller - mobile devices
 * 1200px and larger - laptop and desktop screens
 */

/*@media only screen and (max-width: 1200px) {

}*/