/* Applies the CSS box-sizing property to all HTML elements on the page */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* * * * * * * * * * Navigation header * * * * * * * * * */

.fixed-nav #navbar {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

#navbar {
    z-index: 1;
    position: fixed;
	display: flex;
    justify-content: center;
    align-items: stretch;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(56,56,56,255);
	padding: 50px 20px;
}

#navbar-links-desktop {
    display: none;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
	align-items: stretch;
}

#navbar-links-desktop li {
    position: relative;
}

#nav-logo {
    width: 300px;
}

#navtitle {
    padding-right: 50px;
}

#navtitle-link {
    display: flex;
    justify-content: center;
}

.navitem {
	display: flex;
    align-items: stretch;
    float: left;
}

.navlink {
    padding-left: 15px;
    padding-right: 15px;
    color: white;
	display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.25em;
    font-family: 'Lora', serif;
}

.navlink:hover, .navlink-mobile:hover {
    color: yellowgreen;
}

/* Add a sub-menu to each navlink */
.sub-menu {
    z-index: 4;
    position: absolute;
    top: 100%; /* Position the sub-menu below the navlink */
    left: 0;
    display: none; /* Hide the sub-menu by default */
    background-color: yellowgreen;
    padding: 5px;
    white-space: nowrap;
    width: auto;
    font-family: 'Lora', serif;
}

/* Display the sub-menu when the navlink is hovered over */
.navitem:hover .sub-menu {
    display: block;
}

/* Style the sub-menu links */
.sub-menu a {
    padding-left: 15px;
    padding-right: 15px;
    display: block;
    text-decoration: none;
    color: black;
    font-family: 'Lora', serif;
    font-size: 1.1em;
    margin-top: 15px;
    margin-bottom: 20px;
}

.sub-menu a:hover {
    color: gray;
}

.sub-menu a:active {
    color: white;
}

/* * * * * * * * * * Main Content * * * * * * * * * */

#main-content {
    margin: 10px;
	color: black;
}

.page-title {
    display: flex;
    font-family: 'Lora', serif;;
    font-size: 3em;
    justify-content: center;
    color: yellowgreen;
    text-align: center;
}

.page-description {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lora", sans-serif;
    font-size: 1.75em;	
    line-height: 2;
    margin-left: 50px;
    margin-right: 50px;
}

.paragraph {
    font-family: "Open Sans", sans-serif;
    text-align: justify;
    font-size: 1.5em;
    line-height: 1.7em;
    margin: auto;
    max-width: 800px;
}
	
/*
 * Screen width guide
 *
 * 600px and smaller - phones
 * 600px - 768px - larger phones and smaller tablets
 * 768px - 992px - landscape tablets
 * 992px - 1200px - laptop and desktop screens
 * 1200px and larger - larger laptop and desktop screens
 */
 
/* Mobile only (IN DEVELOPMENT) --------------

@media only screen and (max-width: 992px) {
	WELL...
}
*/

/* Desktop only */
@media only screen and (min-width: 992px) {
	
	#navbar-links-desktop {
        display: flex;
    }

    #mobile-nav-menu {
        display: none;
    }

    #nav-icon {
        display: none;
    }
}