/* * * * * * * * * * Skills Styling * * * * * * * * * */
body {
    margin: 0;
	background-color: rgb(112,108,108);
}

.header-container {
    z-index: 0;
    position: relative;
    margin-top: 90px;
    width: 100%;
    height: 100%;
}

.page-background {
    position: absolute;
    margin-top: 0;
    width: 100%;
    height: 60%;
    background-image: url("/static/images/skills-banner.jpeg");
    background-size: 100% 100%; /* This property will make the image cover the entire background while maintaining aspect ratio */
    background-position: center; /* This property will make the image positioned at the center */
}

.page-container {
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute; /* Set the position of the child container to absolute */
    width: 50%; /* Set the width of the container to 100% to make it span the entire width of the parent container */
    min-height: auto;
    background-color: rgba(255, 255, 255, 0.85);;
    padding: 20px;
    box-sizing: border-box;
}

.skills-container {
    z-index: 2;
    margin-top: 2%;
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: rgb(112,108,108);
    line-height: 150%;
}

aside.left {
    width: 300px;
}

.left {
    position: absolute;
    float: left;
    width: 120px;
    margin-left: 200px;
    padding: 3em;
    list-style: none;
    z-index: 1;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.left.fixed {
    position: fixed;
    top: 300px; /* set this to match the height of your navbar */
}
.content {
    margin-top: 50px; /* set this to match the height of your navbar */
    padding-left: 500px;
    margin-left: 500px;
    border-left: 1px solid #d4d4d4;
    padding: 1em;
    overflow: hidden;
    margin-right: 300px;
}

.table-show {
    opacity: 1;
    transform: translateY(0);
}

.left ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    text-align: center;
}

.left li a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: yellowgreen;
    font-size: 1.3em;
    padding: 8px 16px;
    text-decoration: none;
    font-family: 'Lora', serif;
    height: 65px;
}

.left li a.active {
    background-color: white;
    color: yellowgreen;
}

.left li a:hover:not(.active) {
    background-color: rgba(233, 226, 224, 255);
    color: yellowgreen;
    transition: background-color 0.5s ease-in-out;
}

table {
    font-family: 'Lora', serif;
    border-collapse: collapse;
    width: 100%;
    background-color: rgb(150,150,150);
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

td, th {
    border: 1px solid #dddddd;
    padding: 8px;
}

tr:nth-child(1) {
    background-color: rgba(56,56,56,255);
    color: yellowgreen;
}

tr td i.fas {
    display: block;
    font-size: 35px;
    text-align: center;
}