.btn {
    padding: 15px 40px;
    font-size: 1.5rem;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    display: inline-block;
    background-color: #a633ff;
  }
  
  .btn:hover {
    background-color: #7d1ecc;
  }